4 en linea/pruebaJ/Connected Services/Proxy/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="IngresaPlayer">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="BotonPresionado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="columna" type="xs:int" />
        <xs:element minOccurs="0" name="fila" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Reinicio">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AccionBoton">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="columna" type="xs:int" />
        <xs:element minOccurs="0" name="fila" type="xs:int" />
        <xs:element minOccurs="0" name="turno" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TurnoErroneo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>